### Carga de Librerias

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

### Carga de DF

In [8]:
bmw = pd.read_csv("/Users/yeraysouto/Desktop/M3/Entregable_1/Data_BMW/bmw_pricing.csv")

## Exploracion de datos

In [9]:
bmw

,marca,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
0,NaN,118,140411.0,100.0,2012-02-01,diesel,black,NaN,True,True,False,NaN,True,NaN,True,NaN,11300.0,2018-01-01
1,BMW,M4,13929.0,317.0,NaN,petrol,grey,convertible,True,True,False,NaN,False,True,True,True,69700.0,2018-02-01
2,BMW,320,183297.0,120.0,2012-04-01,diesel,white,NaN,False,False,False,NaN,True,False,True,False,10200.0,2018-02-01
3,BMW,420,128035.0,135.0,NaN,diesel,red,convertible,True,True,False,NaN,True,True,True,NaN,25100.0,2018-02-01
4,BMW,425,97097.0,160.0,NaN,diesel,silver,NaN,True,True,False,False,False,True,True,True,33400.0,2018-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4838,BMW,218 Gran Tourer,39743.0,110.0,NaN,diesel,black,NaN,False,True,False,NaN,False,False,True,False,14600.0,2018-08-01
4839,BMW,218 Active Tourer,49832.0,100.0,2015-06-01,diesel,grey,NaN,False,True,False,NaN,False,False,True,True,17500.0,2018-08-01
4840,BMW,218 Gran Tourer,19633.0,110.0,2015-10-01,diesel,grey,van,False,True,False,NaN,False,False,True,True,17000.0,2018-09-01
4841,BMW,218 Active Tourer,27920.0,110.0,2016-04-01,diesel,brown,van,True,True,False,False,False,False,True,True,22700.0,2018-09-01
4842,BMW,525,195840.0,160.0,NaN,diesel,grey,NaN,True,NaN,False,NaN,True,False,True,True,15500.0,2018-09-01

In [10]:
bmw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   marca                        3873 non-null   object
 1   modelo                       4840 non-null   object
 2   km                           4841 non-null   float64
 3   potencia                     4842 non-null   float64
 4   fecha_registro               2420 non-null   object
 5   tipo_gasolina                4838 non-null   object
 6   color                        4398 non-null   object
 7   tipo_coche                   3383 non-null   object
 8   volante_regulable            4839 non-null   object
 9   aire_acondicionado           4357 non-null   object
 10  camara_trasera               4841 non-null   object
 11  asientos_traseros_plegables  1452 non-null   object
 12  elevalunas_electrico         4841 non-null   object
 13  bluetooth                    4115 non-null   object
 14  gps                          4843 non-null   bool
 15  alerta_lim_velocidad         4115 non-null   object
 16  precio                       4837 non-null   float64
 17  fecha_venta                  4842 non-null   object
dtypes: bool(1), float64(3), object(14)
memory usage: 648.1+ KB

In [11]:
bmw.duplicated().any()

np.False_

In [12]:
bmw.isnull().any()

marca                           True
modelo                          True
km                              True
potencia                        True
fecha_registro                  True
tipo_gasolina                   True
color                           True
tipo_coche                      True
volante_regulable               True
aire_acondicionado              True
camara_trasera                  True
asientos_traseros_plegables     True
elevalunas_electrico            True
bluetooth                       True
gps                            False
alerta_lim_velocidad            True
precio                          True
fecha_venta                     True
dtype: bool

In [13]:
bmw.duplicated().sum()

np.int64(0)

### Hipotesis eliminaciÃ³n columnas

In [14]:
# Calcular la cantidad de valores nulos por columna
nulos_por_columna = bmw.isnull().sum()

# Calcular el porcentaje de valores nulos por columna
porcentaje_nulos = (nulos_por_columna / len(bmw)) * 100

# Calcular la cantidad de valores Ãºnicos por columna
valores_unicos_por_columna = bmw.nunique()

# Crear un nuevo DataFrame con los resultados
resultado = pd.DataFrame({
    'Cantidad de Nulos': nulos_por_columna,
    'Porcentaje de Nulos': porcentaje_nulos,
    'Valores Ãšnicos': valores_unicos_por_columna
})

In [15]:
resultado

,Cantidad de Nulos,Porcentaje de Nulos,Valores Ãšnicos
marca,970,20.028908,1
modelo,3,0.061945,76
km,2,0.041297,4784
potencia,1,0.020648,61
fecha_registro,2423,50.030973,180
tipo_gasolina,5,0.103242,5
color,445,9.188520,10
tipo_coche,1460,30.146603,8
volante_regulable,4,0.082593,2
aire_acondicionado,486,10.035102,2
camara_trasera,2,0.041297,2
asientos_traseros_plegables,3391,70.018584,2
elevalunas_electrico,2,0.041297,2
bluetooth,728,15.032005,2
gps,0,0.000000,2
alerta_lim_velocidad,728,15.032005,2
precio,6,0.123890,437
fecha_venta,1,0.020648,13

Ahora vamos a realizar el analisis con el porcentaje de nulos, puesto que tenemos dos outliers, como fecha_registro y asiento_traseros_plegables, en base a esto, podemos hacernos dos preguntas: eliminarlo o no eliminarlo e imputar estos nulos.

En este caso, podemos ver que en el caso de "marca" Ãºnicamente tenemos una sola marca por ello vamos a comprobar si, tenemos una marca, por ello vamos a analizar los modelos que tenemos para ver si es posible borrar la marca.

### JustificaciÃ³n eliminacion columnas

In [16]:
modelos_con_marca = bmw[bmw['marca'].notnull()]['modelo'].unique()

In [17]:
modelos_con_marca

array(['M4', '320', '420', '425', '335', '325', '118', '120', '220',
       '650', 'Z4', '135', '318', '430', '218', 'M3', '330', '225', '316',
       '435', '640', '640 Gran CoupÃ©', '435 Gran CoupÃ©', 'i8',
       '430 Gran CoupÃ©', '635', '520', nan, '525', '530', '535',
       '320 Gran Turismo', '116', '518', '328', '523', 'X3', 'M550',
       '325 Gran Turismo', '318 Gran Turismo', '125', 'i3',
       '520 Gran Turismo', '420 Gran CoupÃ©', '530 Gran Turismo', '114',
       'M135', '330 Gran Turismo', '418 Gran CoupÃ©', '335 Gran Turismo',
       '730', '123', '535 Gran Turismo', '740', '750', '528',
       'ActiveHybrid 5', '735', 'M5', 'X5', 'X1', 'X4', 'X6', 'X6 M',
       'X5 M', 'X5 M50', '218 Active Tourer', '218 Gran Tourer', '216',
       '216 Gran Tourer', '216 Active Tourer', ' Active Tourer',
       '214 Gran Tourer'], dtype=object)

In [18]:
modelos_sin_marca = bmw[bmw['marca'].isnull()]['modelo'].unique()

In [19]:
modelos_sin_marca

array(['118', 'Z4', '325', '218', '120', 'M235', '425', '435', '640',
       '420', '220', 'M4', '320', '630', '318', '520', '316', '535',
       '525', '518', '530', 'M550', '330', '116', '528', '328', '125',
       '420 Gran CoupÃ©', '114', '320 Gran Turismo', '318 Gran Turismo',
       '530 Gran Turismo', '418 Gran CoupÃ©', '520 Gran Turismo', '135',
       '435 Gran CoupÃ©', '640 Gran CoupÃ©', '740', '730', 'X1', 'X3', 'X5',
       'X6', 'X4', 'X6 M', 'X5 M', 'X5 M50', '220 Active Tourer',
       '218 Active Tourer', '225 Active Tourer', '218 Gran Tourer'],
      dtype=object)

Tal y como podemos ver, los modelos que no tienen marca y los modelos que tienen marca, tienen una denominaciÃ³n parecida e incluso hay mucho que se repiten, en base a esta decisiÃ³n vamos a eliminar la marca.

In [20]:
value_counts = bmw['color'].value_counts()

# Calcular el porcentaje de cada valor
porcentaje = (value_counts / value_counts.sum()) * 100

porcentaje

color
black     34.083674
grey      24.329241
blue      14.711232
white     11.005002
brown      6.866758
silver     6.639382
red        1.068668
beige      0.841291
green      0.318327
orange     0.136426
Name: count, dtype: float64

In [21]:
bmw['color'].isnull().sum()

np.int64(445)

In [22]:
bmw[bmw['asientos_traseros_plegables'].isnull()]

,marca,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
0,NaN,118,140411.0,100.0,2012-02-01,diesel,black,NaN,True,True,False,NaN,True,NaN,True,NaN,11300.0,2018-01-01
1,BMW,M4,13929.0,317.0,NaN,petrol,grey,convertible,True,True,False,NaN,False,True,True,True,69700.0,2018-02-01
2,BMW,320,183297.0,120.0,2012-04-01,diesel,white,NaN,False,False,False,NaN,True,False,True,False,10200.0,2018-02-01
3,BMW,420,128035.0,135.0,NaN,diesel,red,convertible,True,True,False,NaN,True,True,True,NaN,25100.0,2018-02-01
6,BMW,325,205219.0,145.0,NaN,diesel,grey,convertible,True,True,False,NaN,True,True,True,True,12400.0,2018-02-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4837,BMW,218 Gran Tourer,66770.0,110.0,NaN,diesel,blue,van,False,True,False,NaN,False,False,True,False,13400.0,2018-07-01
4838,BMW,218 Gran Tourer,39743.0,110.0,NaN,diesel,black,NaN,False,True,False,NaN,False,False,True,False,14600.0,2018-08-01
4839,BMW,218 Active Tourer,49832.0,100.0,2015-06-01,diesel,grey,NaN,False,True,False,NaN,False,False,True,True,17500.0,2018-08-01
4840,BMW,218 Gran Tourer,19633.0,110.0,2015-10-01,diesel,grey,van,False,True,False,NaN,False,False,True,True,17000.0,2018-09-01
4842,BMW,525,195840.0,160.0,NaN,diesel,grey,NaN,True,NaN,False,NaN,True,False,True,True,15500.0,2018-09-01

In [23]:
bmw[bmw['modelo'].isnull()]

,marca,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
173,BMW,NaN,146338.0,105.0,NaN,diesel,black,NaN,False,True,False,NaN,False,NaN,True,NaN,13300.0,2018-08-01
4766,BMW,NaN,115566.0,105.0,2014-01-01,diesel,silver,suv,False,True,False,NaN,True,False,True,False,14900.0,2018-09-01
4802,BMW,NaN,118640.0,110.0,NaN,diesel,white,NaN,False,False,False,NaN,False,False,False,False,800.0,2018-03-01

Eliminar nulos de la columna modelo, no se pude determinar cual seria

In [24]:
modelos_vacios = bmw[bmw["modelo"].isnull()].index
modelos_vacios

Index([173, 4766, 4802], dtype='int64')

In [25]:
bmw[(bmw["potencia"] == 105.0) & (bmw["tipo_gasolina"] == "diesel") & (bmw["color"] == "black")]["modelo"].unique()
# (bmw["tipo_coche"] == "suv")

array([nan, '318', '518', '118', '318 Gran Turismo', '418 Gran CoupÃ©',
       'X1', 'X3'], dtype=object)

En base a esta respuesta, hay demasiados modelos con la misma potencia como para definir que modelo es, por ende, hemos decidido borrarlo.

In [26]:
bmw = bmw.drop(index=modelos_vacios)

### Eliminacion de columnas

Eliminaremos Marca ya que se puede asumir que son todos bmw, tambien fecha registro ya que mas de la mitad son valores nulos y no hay manera de determinarlo de otra manera, tambien eliminaria asientos_traseros_plegables por la cantidad de nulos que tiene y no se puede saber los valroes nulos.

In [27]:
bmw.drop(columns=['marca','asientos_traseros_plegables','fecha_registro'], inplace=True)

## Tratamiento duplicados

In [28]:
bmw[bmw.duplicated(keep=False)]

Empty DataFrame
Columns: [modelo, km, potencia, tipo_gasolina, color, tipo_coche, volante_regulable, aire_acondicionado, camara_trasera, elevalunas_electrico, bluetooth, gps, alerta_lim_velocidad, precio, fecha_venta]
Index: []

Por otro lado no tenemos ningun duplicado, por ello podemos avanzar.

Me he dado cuenta de que he aÃ±adido un monton de columnas con la denominaciÃ³n de 105, puesto que antes he pasado un .unique = 105 en vez de utilizar el doble ==, vamos a eliminarlas.

In [29]:
bmw.columns

Index(['modelo', 'km', 'potencia', 'tipo_gasolina', 'color', 'tipo_coche',
       'volante_regulable', 'aire_acondicionado', 'camara_trasera',
       'elevalunas_electrico', 'bluetooth', 'gps', 'alerta_lim_velocidad',
       'precio', 'fecha_venta'],
      dtype='object')

creamos un bucle para que itere en todas las columnas e imprima las erroneas.

In [30]:
columnas_erroneas = [col for col in bmw.columns if isinstance(col, (int, float)) or pd.isna(col)]
columnas_erroneas

[]

In [31]:
bmw = bmw.drop(columns=columnas_erroneas)

In [32]:
bmw

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
0,118,140411.0,100.0,diesel,black,NaN,True,True,False,True,NaN,True,NaN,11300.0,2018-01-01
1,M4,13929.0,317.0,petrol,grey,convertible,True,True,False,False,True,True,True,69700.0,2018-02-01
2,320,183297.0,120.0,diesel,white,NaN,False,False,False,True,False,True,False,10200.0,2018-02-01
3,420,128035.0,135.0,diesel,red,convertible,True,True,False,True,True,True,NaN,25100.0,2018-02-01
4,425,97097.0,160.0,diesel,silver,NaN,True,True,False,False,True,True,True,33400.0,2018-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4838,218 Gran Tourer,39743.0,110.0,diesel,black,NaN,False,True,False,False,False,True,False,14600.0,2018-08-01
4839,218 Active Tourer,49832.0,100.0,diesel,grey,NaN,False,True,False,False,False,True,True,17500.0,2018-08-01
4840,218 Gran Tourer,19633.0,110.0,diesel,grey,van,False,True,False,False,False,True,True,17000.0,2018-09-01
4841,218 Active Tourer,27920.0,110.0,diesel,brown,van,True,True,False,False,False,True,True,22700.0,2018-09-01
4842,525,195840.0,160.0,diesel,grey,NaN,True,NaN,False,True,False,True,True,15500.0,2018-09-01

## Variables y valores

In [33]:
for i in bmw.columns: # Loop en las columnas del df
    print('\n',i,bmw[i].unique(),'\n') # Print nombre de la columna y valores Ãºnicos de Ã©sta

 modelo ['118' 'M4' '320' '420' '425' '335' '325' 'Z4' '120' '220' '650' '135'
 '218' '318' '430' 'M3' '330' '225' 'M235' '316' '435' '640'
 '640 Gran CoupÃ©' '435 Gran CoupÃ©' 'i8' '630' '430 Gran CoupÃ©' '635' '520'
 '525' '530' '535' '320 Gran Turismo' '518' '116' '328' '523' 'X3' 'M550'
 '528' '325 Gran Turismo' '125' '318 Gran Turismo' '420 Gran CoupÃ©' 'i3'
 '114' '520 Gran Turismo' '530 Gran Turismo' 'M135' '418 Gran CoupÃ©'
 '330 Gran Turismo' '335 Gran Turismo' '730' '123' '535 Gran Turismo'
 '740' '750' 'ActiveHybrid 5' '735' 'M5' 'X5' 'X1' 'X4' 'X6' 'X6 M' 'X5 M'
 'X5 M50' '218 Active Tourer' '218 Gran Tourer' '216' '220 Active Tourer'
 '216 Gran Tourer' '216 Active Tourer' ' Active Tourer'
 '225 Active Tourer' '214 Gran Tourer']


 km [140411.  13929. 183297. ...  19633.  27920. 195840.]


 potencia [100. 317. 120. 135. 160. 225. 145. 105. 125. 130. 270. 110. 140. 180.
  85. 190. 236. 240. 250. 230. 309. 170. 142. 155. 210.  nan 122. 200.
  90. 150. 141. 173. 137. 280. 112. 189.  80. 119.  95. 220. 107. 127.
  25.  70. 192. 101.  75. 239. 235.  87.  66.  77. 195. 183. 233. 121.
 224. 412.   0. 423. 300. 261.]


 tipo_gasolina ['diesel' 'petrol' nan 'hybrid_petrol' 'Diesel' 'electro']


 color ['black' 'grey' 'white' 'red' 'silver' 'blue' nan 'orange' 'beige' 'brown'
 'green']


 tipo_coche [nan 'convertible' 'coupe' 'estate' 'hatchback' 'sedan' 'subcompact' 'suv'
 'van']


 volante_regulable [True False nan]


 aire_acondicionado [True False nan]


 camara_trasera [False True nan]


 elevalunas_electrico [True False nan]


 bluetooth [nan True False]


 gps [ True False]


 alerta_lim_velocidad [nan True False]


 precio [1.130e+04 6.970e+04 1.020e+04 2.510e+04 3.340e+04 1.710e+04 1.240e+04
 6.100e+03 6.200e+03 1.730e+04 1.930e+04 1.330e+04 2.170e+04 3.630e+04
 1.050e+04 8.300e+03 2.190e+04 9.200e+03 1.100e+04 7.700e+03 1.680e+04
 3.100e+04 2.630e+04 2.330e+04 2.080e+04 1.800e+03 3.010e+04 2.870e+04
 6.500e+03 1.110e+04 9.900e+03 9.500e+03 2.750e+04 5.500e+03 6.300e+03
 2.400e+03 6.800e+03 2.420e+04 1.180e+04 3.430e+04 1.210e+04 1.580e+04
 8.000e+03 9.000e+03 2.430e+04 2.600e+03 2.140e+04 2.620e+04 8.400e+03
 7.500e+03 2.380e+04 2.650e+04 2.770e+04 1.830e+04 2.300e+03 3.020e+04
 1.000e+03 1.900e+04 3.050e+04 2.860e+04 3.890e+04 3.210e+04 1.190e+04
 4.700e+04 5.520e+04 1.610e+04 1.950e+04 5.360e+04 2.800e+04 2.240e+04
 3.200e+04 2.640e+04 8.600e+03 3.150e+04 3.990e+04 8.900e+03 1.840e+04
 1.690e+04 3.000e+04 8.200e+03 3.690e+04 2.340e+04 2.300e+04 9.520e+04
 2.320e+04 2.530e+04 2.700e+04 2.250e+04 3.100e+03 1.460e+04 2.610e+04
 8.700e+03 2.350e+04 2.680e+04 2.200e+04 2.180e+04 3.650e+04 1.780e+04
 3.070e+04 4.580e+04       nan 2.760e+04 1.290e+04 2.410e+04 8.500e+03
 1.700e+04 7.600e+03 9.300e+03 2.500e+04 1.250e+04 1.670e+04 2.920e+04
 3.570e+04 1.070e+04 1.280e+04 2.700e+03 1.500e+04 1.090e+04 2.310e+04
 5.400e+03 1.170e+04 1.650e+04 1.140e+04 1.310e+04 1.450e+04 1.270e+04
 2.130e+04 6.000e+03 7.900e+03 8.000e+02 1.820e+04 1.440e+04 1.100e+03
 1.220e+04 1.150e+04 1.870e+04 1.860e+04 1.120e+04 9.400e+03 1.890e+04
 2.370e+04 1.540e+04 1.370e+04 1.800e+04 1.360e+04 1.300e+04 2.020e+04
 1.260e+04 1.200e+03 1.510e+04 1.200e+04 1.430e+04 4.300e+03 1.060e+04
 1.420e+04 1.560e+04 1.010e+04 1.490e+04 5.100e+03 7.300e+03 1.040e+04
 1.000e+04 1.630e+04 8.800e+03 3.900e+03 3.000e+03 1.480e+04 1.520e+04
 1.810e+04 6.400e+03 9.600e+03 4.900e+03 1.400e+03 1.230e+04 1.320e+04
 1.920e+04 2.060e+04 1.380e+04 2.030e+04 2.210e+04 1.640e+04 2.880e+04
 1.990e+04 1.980e+04 2.000e+04 2.550e+04 1.770e+04 2.560e+04 2.670e+04
 1.080e+04 5.000e+03 3.130e+04 1.340e+04 9.700e+03 1.740e+04 3.800e+03
 1.570e+04 2.520e+04 1.550e+04 1.620e+04 2.580e+04 2.090e+04 2.740e+04
 2.390e+04 4.500e+03 9.800e+03 6.600e+03 1.880e+04 2.050e+04 1.500e+03
 1.390e+04 5.800e+03 2.480e+04 6.900e+03 1.160e+04 3.060e+04 3.390e+04
 3.600e+03 3.600e+04 5.000e+02 7.200e+03 2.070e+04 2.270e+04 1.960e+04
 2.220e+04 1.000e+02 1.760e+04 2.010e+04 2.290e+04 4.000e+03 4.200e+03
 2.150e+04 1.400e+04 2.260e+04 1.530e+04 1.300e+03 1.900e+03 5.700e+03
 4.400e+03 1.410e+04 7.400e+03 3.700e+03 5.600e+03 7.100e+03 6.700e+03
 8.100e+03 2.120e+04 2.960e+04 7.800e+03 2.690e+04 3.710e+04 7.000e+03
 3.500e+03 2.280e+04 2.490e+04 3.200e+03 2.100e+03 2.840e+04 1.470e+04
 1.590e+04 5.300e+03 2.500e+03 2.820e+04 1.750e+04 4.800e+03 2.730e+04
 2.980e+04 2.110e+04 4.600e+03 4.000e+02 1.600e+03 2.890e+04 2.040e+04
 4.090e+04 3.300e+03 9.100e+03 9.000e+02 2.440e+04 1.660e+04 2.570e+04
 3.080e+04 2.950e+04 2.800e+03 2.230e+04 2.450e+04 1.720e+04 2.590e+04
 3.450e+04 1.030e+04 4.050e+04 2.470e+04 3.090e+04 4.000e+04 2.360e+04
 2.810e+04 3.030e+04 3.930e+04 3.310e+04 3.280e+04 2.400e+04 2.000e+02
 7.000e+02 1.940e+04 3.330e+04 3.720e+04 3.270e+04 2.460e+04 2.830e+04
 4.070e+04 3.670e+04 6.250e+04 4.460e+04 3.400e+04 4.300e+04 3.190e+04
 2.790e+04 3.530e+04 5.830e+04 1.970e+04 3.400e+03 2.710e+04 6.370e+04
 1.850e+04 2.160e+04 3.870e+04 2.940e+04 7.500e+04 5.120e+04 3.460e+04
 3.490e+04 6.540e+04 5.240e+04 3.800e+04 3.260e+04 1.600e+04 4.700e+03
 3.920e+04 3.620e+04 1.910e+04 3.140e+04 4.730e+04 6.830e+04 1.790e+04
 2.930e+04 5.200e+03 2.780e+04 5.150e+04 6.870e+04 4.110e+04 4.160e+04
 4.270e+04 3.520e+04 3.110e+04 6.000e+02 3.810e+04 4.370e+04 6.430e+04
 4.280e+04 3.320e+04 3.380e+04 3.250e+04 4.120e+04 3.880e+04 4.190e+04
 3.640e+04 4.820e+04 4.340e+04 3.180e+04 3.770e+04 4.400e+04 3.750e+04
 3.480e+04 3.300e+04 5.220e+04 3.420e+04 4.330e+04 3.510e+04 4.990e+04
 4.970e+04 1.350e+04 4.740e+04 3.900e+04 5.710e+04 6.310e+04 4.200e+04
 3.780e+04 5.550e+04 5.530e+04 4.220e+04 8.240e+04 4.430e+04 3.500e+04
 3.590e+04 4.130e+04 4.410e+04 4.630e+04 4.650e+04 5.930e+04 3.560e+04
 4.240e+04 3.360e+04 4.380e+04 4.470e+04 3.550e+04 4.880e+04 3.350e+04
 3.610e+04 5.000e+04 3.220e+04 3.540e+04 3.940e+04 3.840e+04 3.580e+04
 3.740e+04 4.910e+04 4.210e+04 2.910e+04 2.900e+04 4.610e+04 4.530e+04
 4.660e+04 3.170e+04 3.950e+04 4.550e+04 5.570e+04 6.120e+04 4.360e+04
 4.640e+04 5.060e+04 1.428e+05 3.910e+04 2.990e+04 7.310e+04 6.070e+04
 6.660e+04 1.785e+05 5.900e+03 4.510e+04]


 fecha_venta ['2018-01-01' '2018-02-01' '2018-04-01' '2018-03-01' '2018-09-01'
 '2018-05-01' '2018-06-01' '2018-07-01' '2018-08-01' '2007-08-01'
 '2010-04-01' '2009-04-01' '2008-06-01' nan]

Vamos a ver el nÃºmero de veces que aparece cada valor de las distintas columnas del df.

In [34]:
for i in bmw.columns: # Loop en las columnas del df
    print('\n',i,bmw[i].value_counts(),'\n') 
    # Print del nÃºmero de veces que aparece cada valor distinto de la columna

 modelo modelo
320                  752
520                  633
318                  568
X3                   438
116                  358
                    ...
216                    1
220 Active Tourer      1
 Active Tourer         1
225 Active Tourer      1
214 Gran Tourer        1
Name: count, Length: 76, dtype: int64


 km km
54433.0     2
104005.0    2
159093.0    2
180606.0    2
99768.0     2
           ..
39743.0     1
49832.0     1
19633.0     1
27920.0     1
193657.0    1
Name: count, Length: 4781, dtype: int64


 potencia potencia
135.0    882
120.0    785
85.0     631
100.0    570
105.0    449
        ...
412.0      1
0.0        1
423.0      1
300.0      1
261.0      1
Name: count, Length: 61, dtype: int64


 tipo_gasolina tipo_gasolina
diesel           4628
petrol            191
hybrid_petrol       8
Diesel              5
electro             3
Name: count, dtype: int64


 color color
black     1498
grey      1070
blue       647
white      483
brown      302
silver     291
red         47
beige       37
green       14
orange       6
Name: count, dtype: int64


 tipo_coche tipo_coche
estate         1107
sedan           821
suv             754
hatchback       488
subcompact       77
coupe            76
convertible      30
van              29
Name: count, dtype: int64


 volante_regulable volante_regulable
True     2662
False    2174
Name: count, dtype: int64


 aire_acondicionado aire_acondicionado
True     3463
False     891
Name: count, dtype: int64


 camara_trasera camara_trasera
False    3861
True      977
Name: count, dtype: int64


 elevalunas_electrico elevalunas_electrico
False    2610
True     2228
Name: count, dtype: int64


 bluetooth bluetooth
False    3117
True      996
Name: count, dtype: int64


 gps gps
True     4512
False     328
Name: count, dtype: int64


 alerta_lim_velocidad alerta_lim_velocidad
True     2240
False    1873
Name: count, dtype: int64


 precio precio
13100.0     68
14900.0     64
11900.0     61
14300.0     60
16100.0     57
            ..
42400.0      1
43800.0      1
178500.0     1
5900.0       1
45100.0      1
Name: count, Length: 437, dtype: int64


 fecha_venta fecha_venta
2018-05-01    809
2018-03-01    737
2018-04-01    691
2018-06-01    603
2018-07-01    537
2018-08-01    526
2018-02-01    502
2018-09-01    222
2018-01-01    208
2007-08-01      1
2010-04-01      1
2009-04-01      1
2008-06-01      1
Name: count, dtype: int64

In [35]:
bmw

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
0,118,140411.0,100.0,diesel,black,NaN,True,True,False,True,NaN,True,NaN,11300.0,2018-01-01
1,M4,13929.0,317.0,petrol,grey,convertible,True,True,False,False,True,True,True,69700.0,2018-02-01
2,320,183297.0,120.0,diesel,white,NaN,False,False,False,True,False,True,False,10200.0,2018-02-01
3,420,128035.0,135.0,diesel,red,convertible,True,True,False,True,True,True,NaN,25100.0,2018-02-01
4,425,97097.0,160.0,diesel,silver,NaN,True,True,False,False,True,True,True,33400.0,2018-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4838,218 Gran Tourer,39743.0,110.0,diesel,black,NaN,False,True,False,False,False,True,False,14600.0,2018-08-01
4839,218 Active Tourer,49832.0,100.0,diesel,grey,NaN,False,True,False,False,False,True,True,17500.0,2018-08-01
4840,218 Gran Tourer,19633.0,110.0,diesel,grey,van,False,True,False,False,False,True,True,17000.0,2018-09-01
4841,218 Active Tourer,27920.0,110.0,diesel,brown,van,True,True,False,False,False,True,True,22700.0,2018-09-01
4842,525,195840.0,160.0,diesel,grey,NaN,True,NaN,False,True,False,True,True,15500.0,2018-09-01

## Tipos de variables: Target, Categoricas, Boolean, NÃºmericas

cambio

git add "Entregable_1/Entregable1/Entregable 1.ipynb"