### Carga de Librerias

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

### Carga de DF

In [4]:
bmw = pd.read_csv("bmw_pricing.csv")

### Exploracion de datos

In [5]:
bmw

,marca,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
0,NaN,118,140411.0,100.0,2012-02-01,diesel,black,NaN,True,True,False,NaN,True,NaN,True,NaN,11300.0,2018-01-01
1,BMW,M4,13929.0,317.0,NaN,petrol,grey,convertible,True,True,False,NaN,False,True,True,True,69700.0,2018-02-01
2,BMW,320,183297.0,120.0,2012-04-01,diesel,white,NaN,False,False,False,NaN,True,False,True,False,10200.0,2018-02-01
3,BMW,420,128035.0,135.0,NaN,diesel,red,convertible,True,True,False,NaN,True,True,True,NaN,25100.0,2018-02-01
4,BMW,425,97097.0,160.0,NaN,diesel,silver,NaN,True,True,False,False,False,True,True,True,33400.0,2018-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4838,BMW,218 Gran Tourer,39743.0,110.0,NaN,diesel,black,NaN,False,True,False,NaN,False,False,True,False,14600.0,2018-08-01
4839,BMW,218 Active Tourer,49832.0,100.0,2015-06-01,diesel,grey,NaN,False,True,False,NaN,False,False,True,True,17500.0,2018-08-01
4840,BMW,218 Gran Tourer,19633.0,110.0,2015-10-01,diesel,grey,van,False,True,False,NaN,False,False,True,True,17000.0,2018-09-01
4841,BMW,218 Active Tourer,27920.0,110.0,2016-04-01,diesel,brown,van,True,True,False,False,False,False,True,True,22700.0,2018-09-01
4842,BMW,525,195840.0,160.0,NaN,diesel,grey,NaN,True,NaN,False,NaN,True,False,True,True,15500.0,2018-09-01

In [6]:
bmw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   marca                        3873 non-null   object
 1   modelo                       4840 non-null   object
 2   km                           4841 non-null   float64
 3   potencia                     4842 non-null   float64
 4   fecha_registro               2420 non-null   object
 5   tipo_gasolina                4838 non-null   object
 6   color                        4398 non-null   object
 7   tipo_coche                   3383 non-null   object
 8   volante_regulable            4839 non-null   object
 9   aire_acondicionado           4357 non-null   object
 10  camara_trasera               4841 non-null   object
 11  asientos_traseros_plegables  1452 non-null   object
 12  elevalunas_electrico         4841 non-null   object
 13  bluetooth                    4115 non-null   object
 14  gps                          4843 non-null   bool
 15  alerta_lim_velocidad         4115 non-null   object
 16  precio                       4837 non-null   float64
 17  fecha_venta                  4842 non-null   object
dtypes: bool(1), float64(3), object(14)
memory usage: 648.1+ KB

In [7]:
bmw.duplicated().any()

False

In [8]:
bmw.isnull().any()

marca                           True
modelo                          True
km                              True
potencia                        True
fecha_registro                  True
tipo_gasolina                   True
color                           True
tipo_coche                      True
volante_regulable               True
aire_acondicionado              True
camara_trasera                  True
asientos_traseros_plegables     True
elevalunas_electrico            True
bluetooth                       True
gps                            False
alerta_lim_velocidad            True
precio                          True
fecha_venta                     True
dtype: bool

In [9]:
bmw.duplicated().sum()

0

In [47]:
# Calcular la cantidad de valores nulos por columna
nulos_por_columna = bmw.isnull().sum()

# Calcular el porcentaje de valores nulos por columna
porcentaje_nulos = (nulos_por_columna / len(bmw)) * 100

# Calcular la cantidad de valores Ãºnicos por columna
valores_unicos_por_columna = bmw.nunique()

# Crear un nuevo DataFrame con los resultados
resultado = pd.DataFrame({
    'Cantidad de Nulos': nulos_por_columna,
    'Porcentaje de Nulos': porcentaje_nulos,
    'Valores Ãšnicos': valores_unicos_por_columna
})

In [48]:
resultado

                      Cantidad de Nulos  Porcentaje de Nulos  Valores Ãšnicos
modelo                                3             0.061945              76
km                                    2             0.041297            4784
potencia                              1             0.020648              61
tipo_gasolina                         5             0.103242               5
color                               445             9.188520              10
tipo_coche                         1460            30.146603               8
volante_regulable                     4             0.082593               2
aire_acondicionado                  486            10.035102               2
camara_trasera                        2             0.041297               2
elevalunas_electrico                  2             0.041297               2
bluetooth                           728            15.032005               2
gps                                   0             0.000000               2
alerta_lim_velocidad                728            15.032005               2
precio                                6             0.123890             437
fecha_venta                           1             0.020648              13

Ahora vamos a realizar el analisis con el porcentaje de nulos, puesto que tenemos dos outliers, como fecha_registro y asiento_traseros_plegables, en base a esto, podemos hacernos dos preguntas: eliminarlo o no eliminarlo e imputar estos nulos.

En este caso, podemos ver que en el caso de "marca" Ãºnicamente tenemos una sola marca por ello vamos a comprobar si, tenemos una marca, por ello vamos a analizar los modelos que tenemos para ver si es posible borrar la marca.

In [21]:
modelos_con_marca = bmw[bmw['marca'].notnull()]['modelo'].unique()

In [22]:
modelos_con_marca

array(['M4', '320', '420', '425', '335', '325', '118', '120', '220',
       '650', 'Z4', '135', '318', '430', '218', 'M3', '330', '225', '316',
       '435', '640', '640 Gran CoupÃ©', '435 Gran CoupÃ©', 'i8',
       '430 Gran CoupÃ©', '635', '520', nan, '525', '530', '535',
       '320 Gran Turismo', '116', '518', '328', '523', 'X3', 'M550',
       '325 Gran Turismo', '318 Gran Turismo', '125', 'i3',
       '520 Gran Turismo', '420 Gran CoupÃ©', '530 Gran Turismo', '114',
       'M135', '330 Gran Turismo', '418 Gran CoupÃ©', '335 Gran Turismo',
       '730', '123', '535 Gran Turismo', '740', '750', '528',
       'ActiveHybrid 5', '735', 'M5', 'X5', 'X1', 'X4', 'X6', 'X6 M',
       'X5 M', 'X5 M50', '218 Active Tourer', '218 Gran Tourer', '216',
       '216 Gran Tourer', '216 Active Tourer', ' Active Tourer',
       '214 Gran Tourer'], dtype=object)

In [11]:
modelos_sin_marca = bmw[bmw['marca'].isnull()]['modelo'].unique()

In [12]:
modelos_sin_marca

array(['118', 'Z4', '325', '218', '120', 'M235', '425', '435', '640',
       '420', '220', 'M4', '320', '630', '318', '520', '316', '535',
       '525', '518', '530', 'M550', '330', '116', '528', '328', '125',
       '420 Gran CoupÃ©', '114', '320 Gran Turismo', '318 Gran Turismo',
       '530 Gran Turismo', '418 Gran CoupÃ©', '520 Gran Turismo', '135',
       '435 Gran CoupÃ©', '640 Gran CoupÃ©', '740', '730', 'X1', 'X3', 'X5',
       'X6', 'X4', 'X6 M', 'X5 M', 'X5 M50', '220 Active Tourer',
       '218 Active Tourer', '225 Active Tourer', '218 Gran Tourer'],
      dtype=object)

Tal y como podemos ver, los modelos que no tienen marca y los modelos que tienen marca, tienen una denominaciÃ³n parecida e incluso hay mucho que se repiten, en base a esta decisiÃ³n vamos a eliminar la marca.

In [41]:
value_counts = bmw['color'].value_counts()

# Calcular el porcentaje de cada valor
porcentaje = (value_counts / value_counts.sum()) * 100

porcentaje

color
black     34.083674
grey      24.329241
blue      14.711232
white     11.005002
brown      6.866758
silver     6.639382
red        1.068668
beige      0.841291
green      0.318327
orange     0.136426
Name: count, dtype: float64

In [45]:
bmw['color'].isnull().sum()

445

In [29]:
bmw[bmw['asientos_traseros_plegables'].isnull()]

,marca,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
0,NaN,118,140411.0,100.0,2012-02-01,diesel,black,NaN,True,True,False,NaN,True,NaN,True,NaN,11300.0,2018-01-01
1,BMW,M4,13929.0,317.0,NaN,petrol,grey,convertible,True,True,False,NaN,False,True,True,True,69700.0,2018-02-01
2,BMW,320,183297.0,120.0,2012-04-01,diesel,white,NaN,False,False,False,NaN,True,False,True,False,10200.0,2018-02-01
3,BMW,420,128035.0,135.0,NaN,diesel,red,convertible,True,True,False,NaN,True,True,True,NaN,25100.0,2018-02-01
6,BMW,325,205219.0,145.0,NaN,diesel,grey,convertible,True,True,False,NaN,True,True,True,True,12400.0,2018-02-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4837,BMW,218 Gran Tourer,66770.0,110.0,NaN,diesel,blue,van,False,True,False,NaN,False,False,True,False,13400.0,2018-07-01
4838,BMW,218 Gran Tourer,39743.0,110.0,NaN,diesel,black,NaN,False,True,False,NaN,False,False,True,False,14600.0,2018-08-01
4839,BMW,218 Active Tourer,49832.0,100.0,2015-06-01,diesel,grey,NaN,False,True,False,NaN,False,False,True,True,17500.0,2018-08-01
4840,BMW,218 Gran Tourer,19633.0,110.0,2015-10-01,diesel,grey,van,False,True,False,NaN,False,False,True,True,17000.0,2018-09-01
4842,BMW,525,195840.0,160.0,NaN,diesel,grey,NaN,True,NaN,False,NaN,True,False,True,True,15500.0,2018-09-01

In [26]:
bmw[bmw['modelo'].isnull()]

,marca,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
173,BMW,NaN,146338.0,105.0,NaN,diesel,black,NaN,False,True,False,NaN,False,NaN,True,NaN,13300.0,2018-08-01
4766,BMW,NaN,115566.0,105.0,2014-01-01,diesel,silver,suv,False,True,False,NaN,True,False,True,False,14900.0,2018-09-01
4802,BMW,NaN,118640.0,110.0,NaN,diesel,white,NaN,False,False,False,NaN,False,False,False,False,800.0,2018-03-01

Eliminar nulos de la columna modelo, no se pude determinar cual seria

In [31]:
bmw

,modelo,km,potencia,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
0,118,140411.0,100.0,diesel,black,NaN,True,True,False,True,NaN,True,NaN,11300.0,2018-01-01
1,M4,13929.0,317.0,petrol,grey,convertible,True,True,False,False,True,True,True,69700.0,2018-02-01
2,320,183297.0,120.0,diesel,white,NaN,False,False,False,True,False,True,False,10200.0,2018-02-01
3,420,128035.0,135.0,diesel,red,convertible,True,True,False,True,True,True,NaN,25100.0,2018-02-01
4,425,97097.0,160.0,diesel,silver,NaN,True,True,False,False,True,True,True,33400.0,2018-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4838,218 Gran Tourer,39743.0,110.0,diesel,black,NaN,False,True,False,False,False,True,False,14600.0,2018-08-01
4839,218 Active Tourer,49832.0,100.0,diesel,grey,NaN,False,True,False,False,False,True,True,17500.0,2018-08-01
4840,218 Gran Tourer,19633.0,110.0,diesel,grey,van,False,True,False,False,False,True,True,17000.0,2018-09-01
4841,218 Active Tourer,27920.0,110.0,diesel,brown,van,True,True,False,False,False,True,True,22700.0,2018-09-01
4842,525,195840.0,160.0,diesel,grey,NaN,True,NaN,False,True,False,True,True,15500.0,2018-09-01

### Eliminacion de columnas

Eliminaremos Marca ya que se puede asumir que son todos bmw, tambien fecha registro ya que mas de la mitad son valores nulos y no hay manera de determinarlo de otra manera, tambien eliminaria asientos_traseros_plegables por la cantidad de nulos que tiene y no se puede saber los valroes nulos.

In [30]:
bmw.drop(columns=['marca','asientos_traseros_plegables','fecha_registro'], inplace=True)